# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
*.egg-info/

# Conda
.conda/

# Jupyter
.ipynb_checkpoints/

# Model files (too large for GitHub)
*.pkl
*.joblib

# Data (raw data shouldn't be in Git)
data/raw/*.csv
data/processed/*.csv

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/